<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="login">
    <div class="login">
        <div class="logo">
            <img src="{{ url_for('static', filename='color_100th.jpg') }}" alt="meijo">
        </div>
        <h2>ユーザーログイン</h2>
        <form method="POST" action="/login">
            <label for="username"></label>
            <input type="text" name="username" id="username" placeholder="ユーザー名" required>
            <br>
            <label for="password"></label>
            <input type="password" name="password" id="password" placeholder="パスワード" required>
            <br>
            {% if error_message %}
                <p style="color: #a60040;">{{ error_message }}</p>
            {% endif %}
            <button type="submit">ログイン</button>
        </form>
        <p>アカウントをお持ちでないですか？ <a href="{{ url_for('register') }}">登録</a></p>
    </div>
</body>
</html>
